<div layout="row" flex layout-align="center center" style="min-height: 500px;">
  <div layout="column" layout-align="center">
    <md-card class="base-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Sh!! {{secrets}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="getSecrets()">Get Secrets!!</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>


